.cell {
    background-color: #808080;
    /* border: solid #000 0.1px; */
    height: 3vh;
    width: 3vh;
    margin: 0.5px;
}

.line {
    line-height: 0px;
}

.opened {
    background-color: #FFF;
}