.line{
    display: flex;
    justify-content: center;
    user-select: none;
}

.cell{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #aaa;

}

.cell > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translateY(-50%) translateX(-50%);    
}

.cell:hover{
    background-color: #bbb;
}

.cell:active{
    background-color:#555;
}

.open{
    background-color: #eee;
}

.bom{
    background-image: url("../image/bom.png");
    background-size:cover;
}

.flag{
    background-image:url("../image/flag.png");
    background-size: cover;
}
