<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>MineSweeper</title>
</head>

<body>
    <div id="app">
        <div v-show="isClear">
            <div id='clear-back'></div>
            <div id='clear-dialog'>
                <div>
                    クリア! もう一回やる？
                </div>

                <button @click="setField ">
                    もう一回
                </button>
            </div>
        </div>

        <div class="line " v-for="(line,row) in field ">
            <div class="cells " v-for=" (cell,col) in line ">
                <div class="cell " @click.left="leftClickAction(row,col) " @click.right.prevent="rightClickAction(row,col)
            " :class="{opened:cell.open,flag:cell.flag,bom:cell.open&&cell.bom} ">

                    <div v-show="cell.open ">
                        {{cell.bom || cell.state==0 ?" ":cell.state}}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>require('electron-connect').client.create()</script>
    <script src=" ./js/vue.js "></script>
    <script src="./js/main.js "></script>

</body>

</html>